

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.background-beige{
  background-color: #f5f1ed;
}

.container-big{
  margin: auto;
  max-width: 1200px;

}

.flex{
  display: flex;

}
.align-center{
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}

.mt-120{
  margin-top: 80px;
}
.mb-20{
  margin-bottom: 20px;
}

